/* welcome page (left side) formatting*/

#art-welcome .layer{
    background-position: bottom center;
    height: 150vh;
    z-index: -1;
}

#art-welcome .layer-bg {
    background-color: black;
}
#art-welcome .layer-1 {
	background-image: url("../public/static/art/art-header-1.png");
}
#art-welcome .layer-2 {
    background-image: url("../public/static/art/art-header-2.png");
}
#art-welcome .layer-3 {
	background-image: url("../public/static/art/art-header-3.png");
}
#art-welcome .layer-4 {
    background-image: url("../public/static/art/art-header-4.png");
}

#art-welcome-mobile {
	display: none;
	background: url("../public/static/byte-me-2.jpg")
		no-repeat center bottom / cover;
	height: 320px;
}

.art-header h3{
    letter-spacing: 15px;
}

.carousel-caption h4{
    letter-spacing: 12px;
    font-size: 20px;
}

.carousel-caption{
    padding: 0!important;
}

.carousel-caption p{
    font-size: 15px;
}


