/* welcome page (left side) formatting*/
.welcome-container{
    color: rgba(255, 255, 255, 0.9);
    background-image: url(../public/static/byte-me-2.jpg);
    /**background-image: linear-gradient(rgb(194, 202, 221), rgb(171, 178, 197), #8090B8);**/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position:relative;
}

.welcome-title h1{
    font-family: 'Questrial', sans-serif;
    text-align: left;
    font-weight: 500;
    letter-spacing: 17px;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.7);
}

.welcome-container .btn{
    background-color: transparent; 
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.welcome-namecard{
    color: rgba(255, 255, 255, 0.7);
    position:absolute;
    top:40vh;
    left:50vw;
    width: 100%;
    float: left;
    margin-bottom: 10%;
}

#welcome .layer-bg {
    background-color: black;
}
#welcome .layer-1 {
	background-image: url("../public/static/byteme-1.png");
}
#welcome .layer-2 {
    background-image: url("../public/static/byteme-2.png");
}
#welcome .layer-3 {
	background-image: url("../public/static/byteme-3.png");
}
#welcome .layer-4 {
    background-image: url("../public/static/byteme-4.png");
}

#welcome .layer{
    background-position: top right;
    margin-top: -10%;
}

.welcomelayer{
    opacity: 0.65;
    display: block;
    mix-blend-mode: screen;
}

.wlayer1{
    margin-left: -64px;
}
.wlayer2{
    margin-left: -62px;
}
.wlayer3{
    margin-left: -60px;
}

#welcome-mobile {
	display: none;
	background: url("../public/static/byte-me-2.jpg")
		no-repeat center bottom / cover;
	height: 320px;
}

