body {
	padding: 0;
	margin: 0;
	background-color: #130d0a;
	font-family: "Playfair Display", serif;
	color: white;
}

#hero {
	height: 100vh;
	overflow: hidden;
    position: relative;
    
}
#content {
	background-color: #130d0a;
}
.layer {
	background-position: bottom center;
	background-size: auto;
	background-repeat: no-repeat;
	width: 100%;
	height: 125vh;
	position: fixed;
}

#hero-mobile {
	display: none;
	background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/full_illustration.png")
		no-repeat center bottom / cover;
	height: 320px;
}

.first-section {
	padding: 50px 0 20px 0;
}
.text-header {
	font-size: 50px;
	text-align: center;
}
h1 {
	line-height: 120%;
	margin-bottom: 30px;
}
p {
	color: #ede0d5;
	font-size: 18px;
	line-height: 150%;
}

#hero,
.layer {
	min-height: 1000px;
}

.layer-bg {
    background-color: black;
}
.layer-1 {
	background-image: url("../images/byteme-1.png");
}
.layer-2 {
    background-image: url("../images/byteme-2.png");
}
.layer-3 {
	background-image: url("../images/byteme-3.png");
}
.layer-4 {
    background-image: url("../images/byteme-4.png");
}
.layer-overlay {
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png");
}


@media only screen and (max-width: 768px) {
	#hero {
		display: none;
	}
	#hero-mobile {
		display: block;
	}
}

.tutorial-link {
	color: white;
	font-size: 18px;
	text-decoration: underline;
}

/* welcome page (left side) formatting*/
.welcome-container{
    color: rgba(255, 255, 255, 0.9);
    background-image: url(../images/byte-me-2.jpg);
    /**background-image: linear-gradient(rgb(194, 202, 221), rgb(171, 178, 197), #8090B8);**/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position:relative;
}

.welcome-title h1{
    text-align: left;
    font-weight: lighter; 
    letter-spacing: 20px;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.7);
}

.welcome-container .btn{
    background-color: transparent; 
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.namecard{
    position:absolute;
    top:40vh;
    left:0px;
    width: 100%;
    float: left;
    margin-bottom: 10%;
    padding-left: 20%;
}
